<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性为Mapper接口的全限定名-->
<mapper namespace="com.sky.mapper.DishFlavorMapper">

    <insert id="addDishFlavors">
        insert into dish_flavor (id,dish_id,name,value) values
        <foreach collection="dishFlavors" item="flavor" separator=",">
            (#{flavor.id},#{flavor.dishId},#{flavor.name},#{flavor.value})
        </foreach>
    </insert>
    <delete id="deleteDishFlavorByIds">
        delete from dish_flavor where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>