<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性为Mapper接口的全限定名-->
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (id, name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
            values(#{id},#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
</mapper>